<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Camera Shop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="client/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
    <link
      href="client/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="client/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="client/css/style.css" rel="stylesheet" />
    <link href="client/css/chatbot.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar start -->
    <%- include('../layout/header.ejs'); %>
    <!-- Navbar End -->

    <!-- main Start -->

    <div style="margin-top: 70px" class="container-fluid fruite py-5">
      <div class="container py-5">
        <div class="tab-class">
          <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
              <div class="row g-4">
                <div class="col-3">
                  <form action="/products" method="get">
                    <div style="margin-bottom: 30px">
                      <h6>Hãng sản xuất</h6>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                        value="canon" id="checkCanon" name="factory" <%=
                        listFactory.includes("canon") ? `checked` : `` %> />
                        <label class="form-check-label" for="checkCanon">
                          Canon
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                        value="nikon" id="checkNikon" name="factory" <%=
                        listFactory.includes("nikon") ? `checked` : `` %> />
                        <label class="form-check-label" for="checkNikon">
                          Nikon
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                        value="sony" id="checkSony" name="factory" <%=
                        listFactory.includes("sony") ? `checked` : `` %> />
                        <label class="form-check-label" for="checkSony">
                          Sony
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                        value="fujifilm" id="checkFuji" name="factory" <%=
                        listFactory.includes("fujifilm") ? `checked` : `` %> />
                        <label class="form-check-label" for="checkFuji">
                          Fujifilm
                        </label>
                      </div>
                    </div>
                    <div style="margin-bottom: 30px">
                      <h6>Đối tượng sử dụng</h6>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                        value="beginner" id="checkBeginner" name="target" <%=
                        listTarget.includes("beginner") ? `checked` : `` %> />
                        <label class="form-check-label" for="checkBeginner">
                          Beginner
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                        value="intermediate" id="checkInterm" name="target" <%=
                        listTarget.includes("intermediate") ? `checked` : `` %>
                        />
                        <label class="form-check-label" for="checkInterm">
                          Intermediate
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                        value="advanced" id="checkAdvanced" name="target" <%=
                        listTarget.includes("advanced") ? `checked` : `` %> />
                        <label class="form-check-label" for="checkAdvanced">
                          Advanced
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                        value="professional" id="checkPro" name="target" <%=
                        listTarget.includes("professional") ? `checked` : `` %>
                        />
                        <label class="form-check-label" for="checkPro">
                          Professional
                        </label>
                      </div>
                    </div>
                    <div style="margin-bottom: 30px">
                      <h6>Mức giá</h6>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                        value="duoi-10-trieu" id="duoi-10-trieu" name="price"
                        <%= listPrice.includes("duoi-10-trieu") ? `checked` : ``
                        %> />
                        <label class="form-check-label" for="duoi-10-trieu">
                          Dưới 10 triệu
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                        value="10-toi-15-trieu" id="10-toi-15-trieu"
                        name="price" <%= listPrice.includes("10-toi-15-trieu") ?
                        `checked` : `` %> />
                        <label class="form-check-label" for="10-toi-15-trieu">
                          Từ 10 - 15 triệu
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                        value="15-toi-25-trieu" id="15-toi-25-trieu"
                        name="price" <%= listPrice.includes("15-toi-25-trieu") ?
                        `checked` : `` %> />
                        <label class="form-check-label" for="15-toi-25-trieu">
                          Từ 15 - 25 triệu
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                        value="tren-25-trieu" id="tren-25-trieu" name="price"
                        <%= listPrice.includes("tren-25-trieu") ? `checked` : ``
                        %> />
                        <label class="form-check-label" for="tren-25-trieu">
                          Trên 25 triệu
                        </label>
                      </div>
                    </div>
                    <div style="margin-bottom: 30px">
                      <h6>Sắp xếp</h6>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="sort"
                        id="radioDefault1" value="asc" <%= sort === "asc" ?
                        `checked` : `` %> />
                        <label class="form-check-label" for="radioDefault1">
                          Giá tăng dần
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="sort"
                        id="radioDefault2" value="desc" <%= sort === "desc" ?
                        `checked` : `` %> />
                        <label class="form-check-label" for="radioDefault2">
                          Giá giảm dần
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="sort"
                        id="radioDefault3" value="none" <%= sort === "none" ?
                        `checked` : `` %> />
                        <label class="form-check-label" for="radioDefault3">
                          Không sắp xếp
                        </label>
                      </div>
                    </div>
                    <button
                      class="btn border border-secondary rounded-pill px-3 text-primary"
                      type="submit"
                    >
                      Tìm kiếm
                    </button>
                  </form>
                </div>

                <div class="col-9 tab-class text-center">
                  <div class="row g-4">
                    <% listProducts.forEach(function(product) { %>
                    <div class="col-4">
                      <div
                        class="rounded position-relative fruite-item border border-secondary"
                      >
                        <div class="fruite-img">
                          <img
                            src="images/product/<%= product.image %>"
                            class="img-fluid w-100 rounded-top"
                            alt=""
                          />
                        </div>
                        <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px"
                        >
                          Còn hàng
                        </div>
                        <div class="p-4 rounded-bottom">
                          <a href="/product/<%= product.id %>"
                            ><h4><%= product.name %></h4></a
                          >
                          <div
                            style="
                              height: 70px;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                            "
                          >
                            <p><%= product.shortDesc %></p>
                          </div>
                          <div>
                            <p class="text-dark fs-5 fw-bold mb-3">
                              <%= new Intl.NumberFormat('vi-VN', { style:
                              'currency' , currency: 'VND'
                              }).format(product.price) %>
                            </p>
                            <form
                              method="post"
                              action="/addToCartFilter/<%=product.id%>?<%= query %>page=<%= page %>"
                            >
                              <button
                                class="btn border border-secondary rounded-pill px-3 text-primary"
                                type="submit"
                              >
                                <i
                                  class="fa fa-shopping-bag me-2 text-primary"
                                ></i
                                >Add to cart
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% }); %>
                  </div>

                  <!-- PAGINATION start  -->
                  <% if (listProducts.length === 0) { %>
                  <h6 style="margin-top: 40px; margin-left: 50px">
                    Rất tiếc, không có sản phẩm nào phù hợp tiêu chí!
                  </h6>
                  <% } else { %>
                  <div class="pagination d-flex justify-content-center mt-5">
                    <li
                      class="<%= page === 1 ? 'disabled page-item' : 'page-item' %>"
                    >
                      <a
                        class="page-link"
                        href="/products?<%= query %>page=<%= page - 1  %>"
                        aria-label="Previous"
                      >
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <% for(var i=1; i <=totalPage; i++) {%>
                    <li class="page-item">
                      <a
                        class="<%= page === i ? 'active page-link' : 'page-link' %>"
                        href="/products?<%= query %>page=<%= i  %>"
                      >
                        <%= i %>
                      </a>
                    </li>
                    <% } %>
                    <li
                      class="<%= page === totalPage ? 'disabled page-item' : 'page-item' %>"
                    >
                      <a
                        class="page-link"
                        href="/products?<%= query %>page=<%= page + 1  %>"
                        aria-label="Next"
                      >
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </div>
                  <% } %>

                  <!-- PAGINATION end  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- main End -->

    <!-- Footer Start -->
    <%- include('../layout/footer.ejs'); %>
    <!-- Footer End -->

    <!-- Chatbot Start -->
    <%- include('../layout/chatbot.ejs'); %>
    <!-- Chatbot End -->

    <!-- Back to Top -->
    <a
      href="#"
      class="btn btn-primary border-3 border-primary rounded-circle back-to-top"
      ><i class="fa fa-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="client/lib/easing/easing.min.js"></script>
    <script src="client/lib/waypoints/waypoints.min.js"></script>
    <script src="client/lib/lightbox/js/lightbox.min.js"></script>
    <script src="client/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="client/js/main.js"></script>
    <script type="module" src="client/js/chatbot.js"></script>
  </body>
</html>
