<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Hỏi Dân IT - Dự án laptopshop" />
    <meta name="author" content="Hỏi Dân IT" />
    <title>User Management</title>
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
      rel="stylesheet"
    />
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      $(document).ready(() => {
        const avatarFile = $("#avatarFile");
        avatarFile.change(function (e) {
          const imgURL = URL.createObjectURL(e.target.files[0]);
          $("#avatarPreview").attr("src", imgURL);
          $("#avatarPreview").css({ display: "block" });
        });
      });
    </script>
  </head>

  <body class="sb-nav-fixed">
    <%- include('../layout/header.ejs'); %>
    <div id="layoutSidenav">
      <%- include('../layout/sidenav.ejs'); %>
      <div id="layoutSidenav_content">
        <div style="width: 45%; margin: auto">
          <h2>Create a new User</h2>

          <form action="/handle-create-user" method="post">
            <div class="mb-3">
              <label class="form-label">Full name</label>
              <input name="fullName" type="text" class="form-control" />
            </div>

            <div class="mb-3">
              <label class="form-label">Email</label>
              <input name="username" type="email" class="form-control" />
            </div>

            <div class="row">
              <div class="col-6 mb-3">
                <label class="form-label">Phone</label>
                <input name="phone" type="number" class="form-control" />
              </div>

              <div class="col-6 mb-3">
                <label class="form-label">Role</label
                ><select class="form-select">
                  <% listRoles.forEach((role) => { %>
                  <option value="<%-role.id %>"><%- role.name %></option>
                  <%})%>
                </select>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Avatar</label>
              <input
                class="form-control"
                type="file"
                id="avatarFile"
                accept=".png, .jpg, .jpeg"
              />
              <img
                style="margin-top: 10px; max-height: 250px; display: none"
                alt="avatar preview"
                id="avatarPreview"
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Address</label>
              <input name="address" type="text" class="form-control" />
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-warning">Submit</button>
            </div>
          </form>
        </div>

        <%- include('../layout/footer.ejs'); %>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/admin/js/scripts.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/admin/assets/demo/chart-area-demo.js"></script>
    <script src="/admin/assets/demo/chart-bar-demo.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/admin/js/datatables-simple-demo.js"></script>
  </body>
</html>
